.navbar-expand-sm {
  position: fixed;
  width: 100%;
  background-color: #96c882;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link {
  background-color: #96c882;
  border-radius: 5px;
}

.nav-link:hover {
  filter: brightness(110%);
}
