/* Provide sufficient contrast against white background */
html {
  background-color: rgb(150, 200, 130);
}

.App{
  background-color: rgb(150, 200, 130);
  color:navy;
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
