/* Provide sufficient contrast against white background */
html {
  background-color: #96c882;
}

.App{
  background-color: #96c882;
  color:navy;
}
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}
.table td, .table th, .table tbody{
  border:3px solid navy;
}
tbody tr:nth-child(even){
background-color: #009398;
color: navy
}
tbody tr:nth-child(odd){
  
background-color: navy;
  color:#009398;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
