/* Provide sufficient contrast against white background */
html {
  background-color: #aae5a3;
}

.App {
  background-color: #aae5a3;
  color: navy;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
.table td,
.table th,
.table tbody {
  border: 3px solid #13133d;
}
tbody tr:nth-child(even) {
  background-color: #174b4d;
  color: white;
}
tbody tr:nth-child(odd) {
  background-color: #13133d;
  color: white;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
